* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  background-image: url('../Background.png');
  background-color: #354147;
  background-repeat: no-repeat;
  background-size: 100% 180rem;
  // background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}
